<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.icteam.loyalty.model"
   name="Loyalty Model"
   version="00"
>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.icteam.loyalty/model/template"
            class="com.icteam.loyalty.model.template.ModelTemplatePackage"
            genModel="resources/model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.icteam.loyalty/model/interfaces"
            class="com.icteam.loyalty.model.interfaces.ModelInterfacesPackage"
            genModel="resources/model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="http://com.icteam.loyalty/model"
            class="com.icteam.loyalty.model.ModelPackage"
            genModel="resources/model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated model -->
      <factory
            uri="http://com.icteam.loyalty/model/template"
            class="com.icteam.loyalty.model.template.provider.ModelTemplateItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated model -->
      <factory
            uri="http://com.icteam.loyalty/model/interfaces"
            class="com.icteam.loyalty.model.interfaces.provider.ModelInterfacesItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated model -->
      <factory
            uri="http://com.icteam.loyalty/model"
            class="com.icteam.loyalty.model.provider.ModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
